<p *ngIf="rest.currentUserValue">
  <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
  <button mat-raised-button (click)="fileInput.click()">Upload</button>
</p>

<img *ngFor="let image of images" src="{{image.url}}" width="200px" border="1">

<p *ngIf="rest.currentUserValue">
  <button mat-icon-button>
    <mat-icon aria-label="Add" (click)="addDog()" matTooltip="{{t.get.add_dog}}">add_circle_outline</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon aria-label="Refresh" (click)="getDogs()" matTooltip="Refresh">autorenew</mat-icon>
  </button>
</p>

<div style="margin-left: 50px; margin-top: 50px">
  <div *ngFor="let dog of dogs" style="float:left; max-width: 270px">

    <mat-card style="max-width: 210px; margin: 15px">

      <p style="float: left"><b>{{dog.name ? dog.name : "?"}}</b></p>
      <mat-icon style="float: right;cursor: pointer;" *ngIf="rest.currentUserValue" matTooltip="{{t.get.delete}}" (click)="deleteDog(dog)">delete_forever</mat-icon>
      <img *ngIf="dog.gender === 'M'" style="float:right" src="assets/male.png" matTooltip="{{t.get.male}}">
      <img *ngIf="dog.gender === 'F'" style="float:right" src="assets/female.png" matTooltip="{{t.get.female}}">
      <mat-icon *ngIf="!dog.gender" style="float:right" matTooltip="{{t.get.no_gender}}">help_outline</mat-icon>

      <img mat-card-image src="assets/dog.jpg" style="cursor: pointer" (click)="selectDog(dog)">

      <mat-card-content>
        <p>Neki tekst</p>
      </mat-card-content>

    </mat-card>

  </div>

</div>