<div class="mat-body contact">

  <h2>{{t.get.contact_us}}</h2>

  <mat-grid-list cols="2" rowHeight="25">

    <mat-grid-tile><b>{{t.get.contact_person}}</b></mat-grid-tile>
    <mat-grid-tile>Martina Szalay Zeidler</mat-grid-tile>

    <mat-grid-tile [rowspan]="3"><b>{{t.get.contact_address}}</b></mat-grid-tile>
    <mat-grid-tile [rowspan]="3">93057 Regensburg<br>Deutschland</mat-grid-tile>

    <mat-grid-tile><b>Email</b></mat-grid-tile>
    <mat-grid-tile>Martina.Szalay.Zeidler@gmail.com</mat-grid-tile>

    <mat-grid-tile><b>Tel. (WhatsUp)</b></mat-grid-tile>
    <mat-grid-tile>+49 173 673 7687</mat-grid-tile>

    <mat-grid-tile><b>Viber</b></mat-grid-tile>
    <mat-grid-tile>+385 98 877 298</mat-grid-tile>

  </mat-grid-list>

  <h2>{{t.get.contact_message}}</h2>
  <mat-grid-list cols="2" rowHeight="25">

    <mat-grid-tile><b>{{t.get.msg_name}}</b></mat-grid-tile>
    <mat-grid-tile>
      <input [(ngModel)]="msg_name" style="width:100%">
    </mat-grid-tile>

    <mat-grid-tile><b>{{t.get.msg_tel}}</b></mat-grid-tile>
    <mat-grid-tile>
      <input [(ngModel)]="msg_tel" style="width:100%">
    </mat-grid-tile>

    <mat-grid-tile><b>{{t.get.msg_email}}</b></mat-grid-tile>
    <mat-grid-tile>
      <input [(ngModel)]="msg_email" style="width:100%">
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="3"><b>{{t.get.msg_text}}</b></mat-grid-tile>
    <mat-grid-tile [rowspan]="3">
      <textarea [(ngModel)]="msg_text" style="width:100%; height: 90%"></textarea>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]="2">

    </mat-grid-tile>

    <mat-grid-tile [rowspan]="2">
        <button mat-raised-button (click)="sendMessage()">{{t.get.msg_send}}</button>
    </mat-grid-tile>

  </mat-grid-list>

  

</div>