
.adopt-container {
    overflow-y: scroll;
}

.adopt-single-container {

    max-width: 270px;
}

.adopt-single-card {
    max-width: 210px; 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 30px;
}

.filter-panel {
    width: 600px;
}