
.adopt-container {
    margin-left: 50px; 
    margin-top: 25px;
}

.adopt-single-container {
    float:left;
    max-width: 270px;
}

.adopt-single-card {
    max-width: 210px; 
    margin: 15px;
}

.filter-panel {
    margin-left: 65px;
    width: 600px;
}