
.adopt-container {    
    margin-top: 5px;
    overflow-y: scroll;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: darkgrey;
}

.adopt-single-container {
    max-width: 270px;
}

.adopt-single-card {
    max-width: 210px; 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 30px;
}

.filter-panel {
    width: 600px;
}