<h1 mat-dialog-title>{{t.get.crop_image_title}}</h1>

<image-cropper style="max-height: 600px"
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="210 / 131"
  [resizeToWidth]="210"
  [cropperMinWidth]="210"
  [onlyScaleDown]="true"
  [roundCropper]="false"
  format="png"
  outputType="base64"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  [style.display]="showCropper ? null : 'none'">
</image-cropper>

<div mat-dialog-actions style="float: right">
  <button mat-button (click)="onNoClick()">{{t.get.cancel}}</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{t.get.save}}</button>
</div>
