
<img src="assets/adopted/ALEX.jpg" class="bigimage">
<img src="assets/adopted/BAMBI.jpg" class="bigimage">
<img src="assets/adopted/BELA.jpg" class="bigimage">
<img src="assets/adopted/BELAnjo.jpg" class="bigimage">
<img src="assets/adopted/BELI.jpg" class="bigimage">
<img src="assets/adopted/BELLA.jpg" class="bigimage">
<img src="assets/adopted/BEPO.jpg" class="bigimage">
<img src="assets/adopted/BINGO.jpg" class="bigimage">
<img src="assets/adopted/BLEKI.jpg" class="bigimage">
<img src="assets/adopted/CEZAR.jpg" class="bigimage">
<img src="assets/adopted/COVERSVI.jpg" class="bigimage">
<img src="assets/adopted/ICE.jpg" class="bigimage">
<img src="assets/adopted/LADA.jpg" class="bigimage">
<img src="assets/adopted/LEA.jpg" class="bigimage">
<img src="assets/adopted/LUI.jpg" class="bigimage">
<img src="assets/adopted/LUN.jpg" class="bigimage">
<img src="assets/adopted/MAX.jpg" class="bigimage">
<img src="assets/adopted/MEDO.jpg" class="bigimage">
<img src="assets/adopted/POLDI.jpg" class="bigimage">
<img src="assets/adopted/SIMBA.jpg" class="bigimage">
<img src="assets/adopted/SNOOPY.jpg" class="bigimage">
<img src="assets/adopted/SVI1.jpg" class="bigimage">
<img src="assets/adopted/UDOMLJENISVI.jpg" class="bigimage">
<img src="assets/adopted/ZANA.jpg" class="bigimage">

