<div class="mat-body contact">

  <h1>{{t.get.contact_us}}</h1>


  <mat-grid-list cols="2" rowHeight="25">

    <mat-grid-tile><b>{{t.get.contact_person}}</b></mat-grid-tile>
    <mat-grid-tile>Martina Szalay Zeidler</mat-grid-tile>

    <mat-grid-tile [rowspan]="3"><b>{{t.get.contact_address}}</b></mat-grid-tile>
    <mat-grid-tile [rowspan]="3">Kötztinger Strasse 6B<br>93057 Regensburg<br>Deutschland</mat-grid-tile>

    <mat-grid-tile><b>Email</b></mat-grid-tile>
    <mat-grid-tile>Martina.Szalay.Zeidler@gmail.com</mat-grid-tile>

    <mat-grid-tile><b>Tel. (WhatsUp)</b></mat-grid-tile>
    <mat-grid-tile>+49 173 673 7687</mat-grid-tile>

    <mat-grid-tile><b>Viber</b></mat-grid-tile>
    <mat-grid-tile>+385 98 877 298</mat-grid-tile>

  </mat-grid-list>

  <mat-card>

      <mat-form-field style="width: 100%">
          <input matInput [(ngModel)]="msg_name" placeholder="{{t.get.msg_name}}">
      </mat-form-field>

      <mat-form-field style="width: 100%">
          <input matInput [(ngModel)]="msg_tel" placeholder="{{t.get.msg_tel}}">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input matInput [(ngModel)]="msg_email" placeholder="{{t.get.msg_email}}">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <textarea matInput [(ngModel)]="msg_text" placeholder="{{t.get.msg_text}}"></textarea>
      </mat-form-field>

      <button mat-raised-button (click)="sendMessage()">{{t.get.msg_send}}</button>

    </mat-card>
</div>