<div *ngIf="t.de()" class="mat-body container">
  <img src="assets/volonteri.jpg" class="bigimage">

  <h1>{{t.get.volunteer}}</h1>

  <p>
    Hunde die aus dem „Todeslager“ und aus den schrecklichst möglichen Bedingungen gerettet wurden, sind die gleichen,
    die Sie auf unserer Website später lächelnd sehen können.

    In Kürze werden wir Ihnen zeigen, wie Abfalldeponien, ein Berg von weggeworfenem und infiziertem Abfall ausehen, und
    zurückgelassene unschuldige Wesen, die niemanden mehr haben, außer uns.

    Verwaiste Welpen, die nicht nur von Krankheit, sondern auch von erwachsenen Hunden und Kojoten angegriffen werden.

    Erwachsenen und kleinen Hunden, ist im Endeffekt der größte Feind : Der Mensch.
  </p>

  <p>
    Verschiedene Deponien und Städte in Bosnien, Serbien und Kroatien, lösen das Problem, nur von den Behörden
    angestellte Jäger.

    Es wurde viel getan,nach dem Krieg, viel mehr Hunde wurden sterilisiert / kastriert.

    Allerdings sind wir noch Meilenweit entfernt von einer etwas besseren oder guten Situation.

    Eine Menge Arbeit liegt noch vor uns.
  </p>

  <p>
    Ausser der  Rettung ist für uns das wichtigste Ziel, das wir anstreben sollten, eine edukative Ausbildung in
    kleineren Städten sowie auch in grösseren.

    Eine viel bessere tierärztliche Versorgung ist von Nöten.

    Eine mögliche Zusammenarbeit mit Tierärzten, die in den Gebieten tätig sind und Sterilisationen / Kastrationen
    streunender und hinterlassenen Hunden durchführen.

    Bei dem Versuch, diese großen Ziele zu erreichen, arbeiten wir jeden Tag an kleinen Zielen.
  </p>

  <p>
    Wir füttern hinterlassene Hunde, bringen ihnen Wasser, bringen diejenigen Hunde, die Hilfe brauchen zum Tierarzt..
    Weibchen und Welpen , die erkrankt sind...werden versorgt.

    Wir kümmern uns um sie, während sie im Tierheim sind. Behandlen sie.

    Dann werden diese nach Zagreb geliefert, Kroatien. ​

    Dort werden Sie sozialisiert, kastriert und für eine neue Heimat vorbereitet werden.
  </p>
  ​
  <p>
    Wie können Sie helfen?  ... ausser natürlich einer Bleibe oder einem sicheren Zuhause:
  </p>

  <ul>
    <li>FOSTER (Notunterkünften) - öffnen ihre Türen für diese Tiere.</li>

    <li>Finanzielle  SPENDE (für diejenigen, die sicher untergebracht sind und für alle diejenigen ,die noch an
      gefährlichen Orten sind, alle brauchen Nahrung, Ampullenkur, Kastration / Sterilisation etc ...)</li>

    <li>Spenden von Lebensmitteln, Materialien und Dingen wie..(Decken, Bettwäsche, Körbe / Bett, Spielzeug, Kämme,
      Shampoo, Hundeleinen, Halsbänder, Nahrungsergänzungsmittel wie Lachsöl, etc. ..)</li>

    <li>ihrer Anwesenheit (kommen unsere Freunde besuchen)</li>

    <li>Mundpropaganda ( erzählen Sie Ihren Freunden von uns)</li>

  </ul>


  ​
  <p>
    Und so werden Sie ein Teil unserer großen Familie!

    Wir erwarten Sie von Herzen.
  </p>
  ​

  <u><b>Spenden:</b></u><br>
  <hr>
  
  <div>

    <div style="float: left; font-size: medium; margin-top: 50px; border-width: 1px; border-color: black; border-style: solid;">
      <p>
        
        Martina Szalay Zeidler<br>
        IBAN: HR9723600003235320716<br>
        Swift: ZABAHR2X<br>
        Verwendungszweck: "PSI"<br>
      </p>
    </div>

    <div style="margin-left:20px; margin-bottom: 40px; float: left">
      <img class="imgshadow" src="assets/sparschwein2.png">
    </div>
  </div>
</div>

<div *ngIf="t.hr()" class="mat-body container">

  <img src="assets/volonteri.jpg" class="bigimage">

  <h1>{{t.get.volunteer}}</h1>

  <p>
    Psi spašeni iz "logora smrti" te iz najgroznijih mogućih uvjeta, isti su oni koje gledate kasnije nasmijane na našoj
    web stranici.

    Uskoro ćemo vam pokazati kako izgleda jedna deponija, planina odbačenog i inficiranog smeća, i nedužna ostavljena
    bića
    koja nemaju nikoga, osim nas.

    Ostavljene štence, osim bolesti, napadaju i odrasli psi, pa i kojoti.

    No, i odraslim i malenim psima, najveći je neprijatelj zapravo čovjek.
  </p>

  <p>
    Još uvijek razne deponije, pa i gradove po Bosni, Srbiji i Hrvatskoj, riješavaju lovci, unajmljeni upravo od Vlasti.

    Učinjeno je puno, nakon rata, puno više pasa je sterilizirano/kastrirano.

    Međutim još smo miljama daleko od donekle dobre situacije.

    Puno je posla pred nama.
  </p>

  <p>
    I osim samog spašavanja , najbitniji cilj kojem moramo težiti, upravo je edukacija u manjim mjestima, pa čak i
    većima.

    Puno bolja veterinarska skrb.

    Moguća suradnja sa "terenskim veterinarima" te sterilizacija/kastracija napuštenih pasa.

    I dok pokušavamo ostvarivati ove velike ciljeve, svakodnevno radimo na malim.

    Hranimo napuštene, donosimo im vodu, odvodimo one kojima je htino potrebna pomoć. Kuje i bebe, bolesne..

    Skrbimo o njima dok su u skloništu. Liječimo ih.

    Zatim isti odlaze u Zagreb, Hrvatska gdje se socijaliziraju, kastriraju, i pripremaju za svoje nove domove.
  </p>
  ​
  <p>
    Kako vi možete pomoći? ... osim naravno, pružanjem zauvijek doma:
  </p>
  ​
  <ul>
    <li>FOSTER (privremeni smještaj) - otvorite im svoja vrata.</li>

    <li>FINACIJSKA DONACIJA ( za sve one koji čekaju na sigurnom i za sve one koji su još uvijek na opasnim mjestima,
      svi
      oni trebaju hranu, ampule, liječenja, kastracije/sterilizacije itd...)..</li>

    <li>DONACIJA U HRANI , POTROŠNOM MATERIJALU (dekice, plahte, košarice/ležajevi, igračke, češljevi, šamponi, lajne,
      ogrlice, dodaci prehrani kao na primjer lososovo ulje, td..)</li>

    <li>SVOJIM DRUŠTVOM (dođite , posjetite naše prijatelje)</li>

    <li>PRIČAJTE PRIJATELJIMA....</li>
  </ul>

  <p>
    I tako postajete dio naše velike obitelji!

    Mi vas srčano očekujemo!
  </p>
  ​

  <p>
    <u>LINKOVI:</u>
  </p>

  <ul>
    <li>
      <a
        href="https://www.dnevno.hr/vijesti/crna-kronika/horor-dok-se-oni-smrzavaju-ispustajuci-zadnji-topli-dah-u-ledeni-pakao-sakali-kolju-bolesne-i-najmanje-1139878/">
      Horor: dok se oni smrzavaju ispuštajući zadnji topli dah u ledeni pakao šakali kolju bolesne i najmanje</a>
    </li>
    <li>
      <a href="https://www.24sata.hr/news/kopale-i-rukama-zavlacile-se-u-jamu-da-bi-spasile-cetiri-stenca-566665">
      Kopale i rukama zavlačile se u jamu da bi spasile četiri štenca</a>
    </li>
    <li>
      <a
        href="https://www.index.hr/ljubimci/clanak/bosanski-brod-psi-iz-sklonista-u-opasnosti-zbog-sinocnje-eksplozije/2029421.aspx">
      Bosanski Brod: psi iz skloništa u opasnosti zbog sinoćnje eksplozije</a>
    </li>
  </ul>
  ​
  <u><b>Donacije:</b></u><br>
  <hr>
  
  <div>

    <div style="float: left; font-size: medium; margin-top: 50px; border-width: 1px; border-color: black; border-style: solid;">
      <p>
        
        Martina Szalay Zeidler<br>
        IBAN: HR9723600003235320716<br>
        Swift: ZABAHR2X<br>
        Naznaka: "PSI"<br>
      </p>
    </div>

    <div style="margin-left:20px; margin-bottom: 40px; float: left">
      <img class="imgshadow" src="assets/sparschwein2.png">
    </div>
  </div>
</div>

<div *ngIf="t.en()" class="mat-body container">
  <img src="assets/volonteri.jpg" class="bigimage">
  <h1>{{t.get.volunteer}}</h1>

</div>