<div class="left">

  <div *ngIf="selectedId > 0" align="center">
    <img src="{{rest.imageUrl}}/{{selectedId}}" class="bigimage">
  </div>

  <div *ngIf="data.dog.images.length > 0"
    style="display: flex; overflow-x: auto; border-width: 1px; border-color: grey; border-style: solid">
    <div *ngFor="let image of data.dog.images | imagesort; let i = index">
      <img src="{{rest.imageUrl}}/{{image.id}}" class="myimage" [ngClass]="{'myselected': image.id == selectedId}"
        (click)="selectImage(image)">
    </div>
  </div>

</div>

<div class="right">

  <button mat-icon-button (click)="onNoClick()" style="float: right; margin-right: 20px">
    <mat-icon>close</mat-icon>
  </button>

  <div class="mat-body dogdata">
      <mat-grid-list cols="2" rowHeight="30">

          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{t.get.name}}:</b></p></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{data.dog.name}}</b></p></mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{t.get.gender}}:</b></p></mat-grid-tile>          
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p *ngIf="data.dog.gender === 'F'">{{t.get.female}}</p>
            <p *ngIf="data.dog.gender === 'M'">{{t.get.male}}</p>
            <p *ngIf="!data.dog.gender">-</p>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{t.get.size}}:</b></p></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <p *ngIf="data.dog.size === 'S'">{{t.get.size_s}}</p>
              <p *ngIf="data.dog.size === 'M'">{{t.get.size_m}}</p>
              <p *ngIf="data.dog.size === 'L'">{{t.get.size_l}}</p>
              <p *ngIf="!data.dog.size">-</p>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{t.get.weight}}:</b></p></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <p *ngIf="data.dog.weight">{{data.dog.weight}} kg</p>
              <p *ngIf="!data.dog.weight">-</p>            
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{t.get.born}}:</b></p></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <p *ngIf="data.dog.born">{{data.dog.born}}</p>
              <p *ngIf="!data.dog.born">-</p>               
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{t.get.age}}:</b></p></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <p *ngIf="data.dog.born">{{data.dog.born | agepipe}}</p>
              <p *ngIf="!data.dog.born">-</p>                
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{t.get.nutered}}:</b></p></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <p *ngIf="data.dog.nutered">{{t.get.yes}}</p>
              <p *ngIf="!data.dog.nutered">{{t.get.no}}</p>               
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{t.get.vaccinated}}:</b></p></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <p *ngIf="data.dog.vaccinated">{{t.get.yes}}</p>
              <p *ngIf="!data.dog.vaccinated">{{t.get.no}}</p>                
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1"><p><b>{{t.get.antiparasite}}:</b></p></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
              <p *ngIf="data.dog.antiparasite">{{t.get.yes}}</p>
              <p *ngIf="!data.dog.antiparasite">{{t.get.no}}</p>   
          </mat-grid-tile>

      </mat-grid-list>

  </div>

  <!-- DESCRIPTION -->
  
  <div *ngIf="t.de()" class="mat-body dogdesc" [innerHTML]="data.dog.de"></div>
  <div *ngIf="t.hr()" class="mat-body dogdesc" [innerHTML]="data.dog.hr"></div>
  <div *ngIf="t.en()" class="mat-body dogdesc" [innerHTML]="data.dog.en"></div>
</div>