.active {
    text-decoration: underline;
}

.mymargin {
    margin-right: 15px;
}

.flagmargin {
    vertical-align: middle;
    margin-right: 15px;
}

.navbar {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    background-color: burlywood;
    width: 100vw; 
    position: relative; 
    left: -8px;
    top: -8px;
}

.flag {
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.loggeduser {
    margin-right: 20px;    
}

.mybutton {
    color: blanchedalmond;
    background-color: #8B4513;
    margin-bottom: 3px;
    font-size: medium;
}

.waiting {
    text-align: center;
    position: relative;
    top: 150px;
}