
  <nav style="width: 100%">

      <img class="flagmargin" width="20px" src="{{t.get.lang_icon}}" (click)="t.changeLang()">

      <button class="mymargin" mat-button routerLink="/home" routerLinkActive="active">{{t.get.home}}</button>
      <button class="mymargin" mat-button routerLink="/adopt" routerLinkActive="active">{{t.get.adopt}}</button>      
      <button class="mymargin" mat-button routerLink="/volunteer" routerLinkActive="active">{{t.get.volunteer}}</button>
      <button class="mymargin" mat-button routerLink="/donate" routerLinkActive="active">{{t.get.donate}}</button>
      <button class="mymargin" mat-button routerLink="/contact" routerLinkActive="active">{{t.get.contact}}</button>
      <button class="mymargin" mat-button routerLink="/gallery" routerLinkActive="active">{{t.get.gallery}}</button> 
      
      <button *ngIf="!rest.currentUserValue" style="float: right" mat-button (click)="login()">{{t.get.login}}</button>
      <button *ngIf="rest.currentUserValue" style="float: right" mat-button (click)="logout()">{{t.get.logout}}</button>
  </nav>


<span class="mat-body" style="float: right" *ngIf="rest.currentUserValue">
  {{rest.currentUserValue.firstName}} {{rest.currentUserValue.lastName}}
</span>

<router-outlet></router-outlet>