<mat-toolbar color="primary">
  <nav>

      <img *ngIf="de()" class="flagmargin" width="20px" src="assets/de.png" (click)="setLang('Hr')">
      <img *ngIf="hr()" class="flagmargin" width="20px" src="assets/hr.png" (click)="setLang('En')">
      <img *ngIf="en()" class="flagmargin" width="20px" src="assets/en.png" (click)="setLang('De')">

      <button class="mymargin" mat-raised-button color="accent" routerLink="/home" routerLinkActive="active">{{t.get['home']}}</button>
      <button class="mymargin" mat-raised-button color="accent" routerLink="/adopt" routerLinkActive="active">{{t.get['adopt']}}</button>      
      <button class="mymargin" mat-raised-button color="accent" routerLink="/volunteer" routerLinkActive="active">{{t.get['volunteer']}}</button>
      <button class="mymargin" mat-raised-button color="accent" routerLink="/donate" routerLinkActive="active">{{t.get['donate']}}</button>
      <button class="mymargin" mat-raised-button color="accent" routerLink="/contact" routerLinkActive="active">{{t.get['contact']}}</button>
      <button class="mymargin" mat-raised-button color="accent" routerLink="/gallery" routerLinkActive="active">{{t.get['gallery']}}</button> 
      <button class="mymargin" mat-raised-button color="secondary" routerLink="/user" routerLinkActive="active">{{t.get['user']}}</button> 
      <button class="mymargin" mat-raised-button color="secondary" routerLink="/admin" routerLinkActive="active">{{t.get['admin']}}</button> 
      <button class="mymargin" mat-raised-button color="accent">Login</button>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>