<div fxLayout="row" style="margin-top: 20px">

  <div fxFlex="3">
    <div *ngIf="rest.currentUserValue" align="center">
      <button mat-icon-button>
        <mat-icon (click)="addStory()" matTooltip="{{t.get.add_story}}">add_circle_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (click)="getStories()" matTooltip="Refresh">autorenew</mat-icon>
      </button>
    </div>
  </div>

  <div fxFlex>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let story of stories" style="margin-bottom: 20px; background-color: blanchedalmond;">
        <mat-expansion-panel-header
          style="background-color: burlywood; border-width: 1px; border-color: black; border-style: solid ">
          <mat-panel-title>
            <p *ngIf="t.de()"><b>{{story.title1de}}</b></p>
            <p *ngIf="t.hr()"><b>{{story.title1hr}}</b></p>
          </mat-panel-title>
          <mat-panel-description>
            <p *ngIf="t.de()"><b>{{story.title2de}}</b></p>
            <p *ngIf="t.hr()"><b>{{story.title2hr}}</b></p>
          </mat-panel-description>
          <p *ngIf="t.de()" style="margin-right: 20px">{{story.title3de}}</p>
          <p *ngIf="t.hr()" style="margin-right: 20px">{{story.title3hr}}</p>
        </mat-expansion-panel-header>
        <p></p>
        <div *ngIf="t.de()" [innerHTML]="story.de"></div>
        <div *ngIf="t.hr()" [innerHTML]="story.hr"></div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <div fxFlex="3"></div>

</div>