
<div *ngIf="t.de()" class="mat-body container">
    <img src="assets/DSC_2656.jpg" class="bigimage">
    <h1>Willkommen !!</h1>
    
    <p>
    An einen Ort, wo jedes Leben wichtig ist, und wo wir alles dafür geben, denjenigen zu Helfen, die nicht für
    
    sich selbst sorgen können.
    
    Wir sind ein Team, dass jahrelange Erfahrung hat und auch zusammenarbeitet.
    </p>

    <p>
    Hunde, die wir retten kommen aus Kroatien, Bosnien und Serbien usw.
    
    Dieser Bereich spiegelt aus historischen Gründen und aufgrund der wachsenden Nachhaltigkeit des existenziellen Gleichgewichts seine reflektierende schlechte Situation der Ärmsten wider, die sich nicht selbst helfen können.
    
    Unter ihnen sind die größten menschlichen Freunde, unsere Fellfreunde, die bereits über zehntausende von Jahre alt sind und neben uns wachsam leben.
    
    Uns täglich Freude, Liebe und Trost schenken.
    
    Obwohl gerade diese Freude, Liebe und Trost von ihnen geraubt wurde.
    </p>

    <p>
    Sie sind Willkommen, um mit vereinten Kräften so etwas Kostbares zu erhalten, dass wir von unseren Freunden bekommen.
    
    Helfen Sie uns, helfen Sie Ihrem neuen Freund mit einem warmen Zuhause, helfen Sie uns, indem Sie ihn pflegen, helfen Sie uns mit einer Spende für Lebensmittel, die wir so dringend benötigen, und helfen Sie uns dabei, unsere tierärztlichen Kosten zu decken ...
    
    Oder ganz einfach.. stehen Sie uns bei, indem Sie unseren Kampf verfolgen und mit Ihren Freunden auch  darüber sprechen.
    </p>

    <p>
    Wir sind Teil einer großen Familie.
    </p>

    <p>
    Mit freundlichen Grüßen
    <br>
    Ihr Tierliebhaberteam!
    </p>

</div>

<div *ngIf="t.hr()" class="mat-body container">

    <img src="assets/DSC_2656.jpg" class="bigimage">

    <h1>Dobro nam došli</h1>

    ​
    <p>
    Na mjesto gdje je ​svaki život važan, i gdje dajemo sve od sebe da pomognemo onima koji ne mogu pomoći sebi.
    
    Mi smo tim ljudi koji već godinama surađuje zajedno.
    </p>
    ​
    <p>
    Psi koje spašavamo spašeni su iz Hrvatske, Bosne, Srbije itd.
    
    Navedeno područje, kako zbog povijesnih razloga tako i zbog sve težeg održavanja egzistencijalne ravnoteže, reflektira svoju lošu situaciju upravo na najslabije, na one koji si sami ne mogu pomoći.
    
    Među njima su upravo najveći prijatelji nas ljudi, dlakavci koji već nekoliko desetaka tisuća godina budno žive tik uz nas.
    </p>
    ​
    <p>
    Pružajući nam svakodnevno radost, ljubav i utjehu.
    
    Iako je upravo njima bila uskraćena.
    </p>
    ​
    <p>
    Dobro ste nam došli, da zajedničkim snagama pokušamo sačuvati tako nešto dragocjeno što dobijamo od njih.
    
    Pomozite nam udomeći svojeg novog prijatelja, pomozite nam pruživši im "foster" (privremeni smještaj), pomozite nam donacijom hrane koja nam je toliko potrebna, pomozite nam podmiriti naše veterinarske troškove...
    </p>

    <p>
    Ili jednostavno budite uz nas, pratite našu borbu, i o istoj pričajte i svojim prijateljima.
    </p>
    ​
    <p>
    Dio smo jedne velike obitelji.
    </p>
    ​
    <p>
    S poštovanjem,
    <br>
    
    Tim ljubitelja životinja!
    </p>

</div>

<div *ngIf="t.en()" class="mat-body container">
        <img src="assets/DSC_2656.jpg" class="bigimage">

        <h1>Welcome!</h1>
</div>
