<h1 mat-dialog-title>{{data.new ? t.get.add_dog : t.get.edit_dog}}</h1>



<div mat-dialog-content style="height: 100%">

  <!-- FORM -->
  <mat-grid-list cols="8" rowHeight="70">

    <mat-grid-tile [colspan]="3" [rowspan]="4">
      <input style="display: none" type="file" (change)="setTitleImage($event)" #fileInput1 />
      <img src="{{data.dog.titleimage ? data.dog.titleimage : 'assets/dog2.jpg'}}" border="1"
        (click)="fileInput1.click()" style="cursor: pointer">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="data.dog.name" placeholder="{{t.get.name}}">
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-radio-group style="margin-left: 15px" [(ngModel)]="data.dog.gender" aria-label="Select an option">
        <mat-radio-button value="M">{{t.get.gender_m}}</mat-radio-button>&nbsp;
        <mat-radio-button value="F">{{t.get.gender_f}}</mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <div>
        <mat-form-field>
          <input type="number" matInput [(ngModel)]="data.dog.weight" placeholder="{{t.get.weight}}">
          <span matSuffix>kg</span>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-checkbox style="margin-left: 15px" [(ngModel)]="data.dog.nutered">{{t.get.nutered}}</mat-checkbox>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="data.day" placeholder="{{t.get.born}}">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-checkbox style="margin-left: 15px" [(ngModel)]="data.dog.vaccinated">{{t.get.vaccinated}}</mat-checkbox>
    </mat-grid-tile>

    <!-- size -->
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-form-field>
        <mat-label>{{t.get.size}}</mat-label>
        <mat-select [(ngModel)]="data.dog.size">
            <mat-option *ngFor="let size of sizes" [value]="size.value">
              {{size.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-checkbox style="margin-left: 15px" [(ngModel)]="data.dog.antiparasite">{{t.get.antiparasite}}</mat-checkbox>
    </mat-grid-tile>

  </mat-grid-list>



  <!-- TABS -->
  <mat-tab-group style="height: 290px">

    <!-- DESCRIPTION TAB-->

    <mat-tab>
      <ng-template mat-tab-label>
        {{t.get.tab_description}}
        <img width="20px" src="assets/de.png" style="margin-left: 10px">
      </ng-template>

      <app-ngx-editor
      [height]="auto" 
      [minHeight]="50" 
      [spellcheck]="false" 
      [enableToolbar]="true" 
      [showToolbar]="true"       
      [toolbar]="options"
      [(ngModel)]="data.dog.de"></app-ngx-editor>   
      
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        {{t.get.tab_description}}
        <img width="20px" src="assets/hr.png" style="margin-left: 10px">
      </ng-template>

      <app-ngx-editor
      [height]="auto" 
      [minHeight]="50" 
      [spellcheck]="false" 
      [enableToolbar]="true" 
      [showToolbar]="true"       
      [toolbar]="options"
      [(ngModel)]="data.dog.hr"></app-ngx-editor>   
    </mat-tab>

    <!-- PICTURES TAB -->
    <mat-tab label="{{t.get.tab_pictures}}">
      <p></p>

      <div *ngIf="data.dog.images.length > 0"
        style="display: flex; overflow-x: auto; border-width: 1px; border-color: grey; border-style: solid">
        <div *ngFor="let image of data.dog.images | imagesort; let i = index">
          <img src="{{rest.imageUrl}}/{{image.id}}" class="myimage" [ngClass]="{'myselected': image.id == selectedId}"
            (click)="selectImage(image)">
        </div>
      </div>

      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>

      <button mat-icon-button>
        <mat-icon (click)="fileInput.click()" matTooltip="{{t.get.picture_upload}}">add_circle_outline</mat-icon>
      </button>

      <button *ngIf="selectedId > 0" mat-icon-button>
        <mat-icon (click)="removePicture()" matTooltip="{{t.get.picture_remove}}">delete_forever</mat-icon>
      </button>

      <button *ngIf="selectedId > 0" mat-icon-button>
        <mat-icon (click)="moveToLeft()" matTooltip="{{t.get.picture_left}}">arrow_back</mat-icon>
      </button>

      <button *ngIf="selectedId > 0" mat-icon-button>
        <mat-icon (click)="moveToRight()" matTooltip="{{t.get.picture_right}}">arrow_forward</mat-icon>
      </button>

    </mat-tab>

    <!-- VIDEO TAB-->
    <mat-tab label="{{t.get.tab_videos}}">
      <p></p>

      <div *ngIf="data.dog.videos.length > 0"
          style="display: flex; overflow-x: auto; border-width: 1px; border-color: grey; border-style: solid">
          <div *ngFor="let video of data.dog.videos | videosort; let i = index">
              <div class="myvideo" [ngClass]="{'myselectedvideo': video.id == selectedVideoId}" (click)="selectVideo(video)"><b>Video</b><br>{{video.name}}</div>
          </div>
      </div>      

      <button mat-icon-button>
        <mat-icon (click)="addVideo()" matTooltip="{{t.get.video_upload}}">add_circle_outline</mat-icon>
      </button>

    </mat-tab>
  </mat-tab-group>

</div>


<div mat-dialog-actions style="float: right">
  <button mat-button (click)="onNoClick()">{{t.get.cancel}}</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{t.get.save}}</button>
</div>